{% extends "layout.html" %}

{% block content %}
    <div>
        <div>
            <fieldset>
                <legend><h1>Profile</h1></legend>
                <p>{{ user_profile.user_id }}</p>
                <p>{{ user_profile.bio }}</p>
                <p>{{ user_profile.linkedin_handle }}</p>
                <p>{{ user_profile.twitter_handle }}</p>
                <p>{{ user_profile.instagram_handle }}</p>
            </fieldset>
        </div>
        <div>
            <fieldset>
                <legend><h1>Skills</h1></legend>
                <table>
                    <thead>
                        {% for skill in user_skills.0.keys %}
                            <th>{{ skill }}</th>
                        {% endfor %}
                    </thead>
                    <tbody>
                        {% for skill in user_skills %}
                            <tr>
                                <td>{{ skill.skill_name }}</td>
                                <td>{{ skill.proficiency_level }}</td>
                                <td>{{ skill.description }}</td>
                                {% comment %} <p>{{ skill.user_id }}</p> {% endcomment %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>
        <div>
            <fieldset>
                <legend><h1>Projects</h1></legend>
                {% for project in user_projects %}
                    <p>{{ project.user_id }}</p>
                    <p>{{ project.project_name }}</p>
                    <p>{{ project.description }}</p>
                    <p>{{ project.github_link }}</p>
                {% endfor %}
            </fieldset>
        </div>
        <div>
            <fieldset>
                <legend><h1>Seekings</h1></legend>
                <p>{{ seeking.user_id }}</p>
                <p>{{ seeking.event_name }}</p>
                <p>{{ seeking.event_description }}</p>
                <p>{{ seeking.event_link }}</p>
                <p>{{ seeking.looking_for }}</p>
            </fieldset>
        </div>
    </div>
{% endblock  %}