<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Hackathon Connect {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <a>Logo</a>
        <a href="/">Home</a>
        <a href="/connect">Connect</a>
        {% if user.is_authenticated %}
            <a> logged in as: <span style="color: blue;">{{ user.username }} </span> </a>
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit">logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">login</a>
        {% endif %}
    </nav>
    {% block content %}
    <h1>Hackathon Connect</h1>    
    {% endblock %}
</body>
</html>